<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Редактирование предмета</title>
    <link th:replace="fragments/linkcss :: linkcss"/>
</head>
<body>
<main>
    <div th:replace="fragments/sidebar :: sidebar" />
    <div class="container">
        <div class="page-header">
            <h2 class="page-name">Редактирование предмета</h2>
            <button id="openModal">Удалить предмет</button>
        </div>
        <form th:action="@{'/subjects/' + ${subject.id}}" method="post" class="form-container">
            <div><input type="text" name="name" placeholder="Название предмета" th:value="${subject.name}"></div>
            <div><button type="submit">Сохранить изменения</button></div>
        </form>
    </div>
    <div class="modal-overlay" id="overlay">
        <form th:action="@{'/subjects/' + ${subject.id} +'/remove'}" method="post" class="modal-window">
            <div><h2 th:text="'Вы действительно хотите удалить предмет ' + ${subject.name} + '?'" /></div>
            <div><p>Данное действие отменить НЕЛЬЗЯ!</p></div>
            <div>
                <button type="reset" id="closeModal">Отмена</button>
                <button type="submit">Удалить</button>
            </div>
        </form>
    </div>
</main>
<script src="/scripts/modal.js"></script>
</body>
</html>